2fa/*
!2fa/*.pgp
antigen
.ssh
licenses/*
!licenses/*.pgp
fonts/op_mono/
gpg/keys/*
!gpg/keys/*.pub
!gpg/keys/*.pgp
ssl/ca_certs/*
!ssl/ca_certs/*.pgp
ssl/client_certs/*
!ssl/client_certs/*.pgp
vpn/*
!vpn/*.pgp
