2fa/*
!2fa/*.pgp
antigen
.ssh
licenses/*
!licenses/*.pgp
fonts/*
!fonts/op_mono.tar.gz.pgp
!fonts/source_code_pro_powerline
gpg/keys/*
!gpg/keys/*.pub
!gpg/keys/*.pgp
kube/*
!kube/config.pgp
ssl/*
!ssl/*.pgp
vpn/*
!vpn/*.pgp
